/* ここから @section('link') */
.header-search {
    position: absolute;
    width: 563px;
    height: 80px;
    left: 475px;
    display: flex;
    align-items: center;
    margin: 0;
}

.search-input {
    position: absolute;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    left: 31px;
    font-size: 24px;
}

.search-input::placeholder {
    position: absolute;
    top: 5px;
    width: 330px;
    height: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
}

.header-nav {
    position: absolute;
    left: 1049px;
    width: 463px;
    height: 80px;
}

.header-links {
    width: 463px;
    height: 80px;
    margin: 0;
}


.header-nav_listing {
    position: absolute;
    top: 18px;
    left: 337px;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.header-link_listing {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

/* ここまでが @section('link') */


.profile-edit_top {
    position: absolute;
    top: 139px;
    left: 606px;
    width: 299px;
    height: 47px;
}

.profile-edit_top-name {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    right: 50%;
    top: 15%;
    transform: translateX(50%);
    white-space: nowrap;
}

.profile-edit_name {
    position: absolute;
    top: 459px;
    left: 416px;
    width: 680px;
    height: 92px;
}

.user-name {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    vertical-align: middle;
    width: 680px;
    height: 36px;
}

.input_user-name {
    position: absolute;
    top: 37px;
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    font-size: 24px;
}

.profile-edit_zip_code {
    position: absolute;
    top: 613px;
    left: 416px;
    width: 680px;
    height: 92px;
}

.user-zip_code {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    vertical-align: middle;
    width: 680px;
    height: 36px;
}

.input_user-zip_code {
    position: absolute;
    top: 37px;
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    font-size: 24px;
}

.profile-edit_address {
    position: absolute;
    top: 748px;
    left: 416px;
    width: 680px;
    height: 92px;
}

.user-address {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    vertical-align: middle;
    width: 680px;
    height: 36px;
}

.input_user-address {
    position: absolute;
    top: 37px;
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    font-size: 24px;
}

.profile-edit_building_name {
    position: absolute;
    top: 883px;
    left: 416px;
    width: 680px;
    height: 92px;
}

.user-building_name {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    vertical-align: middle;
    width: 680px;
    height: 36px;
}

.input_user-building_name {
    position: absolute;
    top: 37px;
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    font-size: 24px;
}

.profile-edit {
    position: absolute;
    top: 1042px;
    left: 416px;
    width: 680px;
    height: 60px;
}

.profile-edit_button {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #FF5555;
    vertical-align: middle;
    width: 680px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #FF5555;
    cursor: pointer;
}

.user-image{
    position: absolute;
    top: 233px;
    left: 416px;
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 50%;
}



