.header-search {
    position: absolute;
    width: 563px;
    height: 80px;
    left: 475px;
    display: flex;
    align-items: center;
}

.search-input {
    position: absolute;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    left: 31px;
}


.search-input::placeholder {
    position: absolute;
    top: 5px;
    width: 330px;
    height: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
}