/* ここから @section('link') */
.header-search {
    position: absolute;
    width: 563px;
    height: 80px;
    left: 475px;
    display: flex;
    align-items: center;
    margin: 0;
}

.search-input {
    position: absolute;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    left: 31px;
    font-size: 24px;
}

.search-input::placeholder {
    position: absolute;
    top: 5px;
    width: 330px;
    height: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
}

.header-nav {
    position: absolute;
    left: 1049px;
    width: 463px;
    height: 80px;
}

.header-links {
    width: 463px;
    height: 80px;
    margin: 0;
}

.header-nav_login {
    position: absolute;
    top: 20px;
    left: 37px;
    width: 135px;
    height: 47px;
}

.header-link_login {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.header-nav_mypage {
    position: absolute;
    top: 20px;
    left: 181px;
    width: 135px;
    height: 47px;
}

.header-link_mypage {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}

.header-nav_listing {
    position: absolute;
    top: 18px;
    left: 337px;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.header-link_listing {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
/* ここまでが @section('link') */



.tab-menu {
    position: absolute;
    top: 127px;
    width: 1512px;
    height: 47px;
    border-bottom: 2px solid #5F5F5F;
}

.tab-menu_active {
    position: absolute;
    left: 129px;
    width: 155px;
    height: 40px;
}

.active-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #FF0000;
    text-decoration: none;
}

.tab-menu_my-list {
    position: absolute;
    left: 336px;
    width: 155px;
    height: 40px;
}

.my-list_button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #5F5F5F;
    text-decoration: none;
}



.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 1374.52px;
    height: 320px;
    position: absolute;
    top: 250.39px;
    left: 69px;
    gap: 70px;
}

.product-name {
    width: 290px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: 0%;
    color: #000000;
}